{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column">
    <h1>{{dish.name}}</h1>
    <img src="/static/img/{{dish.image}}" class="img-thumbnail" style='max-width:10em; max-height:20em; width: auto; height: auto;' alt="Фото {{dish.image}}">
    <div>Ингредиенты: {{ ingridients }}</div>
    <div>Осталось: {{dish.quantity}} штук</div>
    <div>Цена: {{dish.price}} рублей</div>
    <label for="rating">
        Оцените блюдо:
        <input type="number" id="rating" name="rating"/>
        <button type="button" class="btn btn-primary">Оценить</button>
    </label>
    <div class="d-flex">
        <form method="POST" action="/dish/{{ dish.id }}/buy">
            <label for="quantity">Кол-во</label>
            <input type="number" id="quantity" name="quantity"/>
            <button type="submit" class="btn btn-primary">Заказать</button>
        </form>
    </div>
</div>
{% endblock %}