{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column">
    <h1>{{dish.name}}</h1>
    <img src="/static/img/{{dish.image}}" class="img-thumbnail" alt="Фото {{dish.image}}">
    <div class="d-flex">
        <div>Ингредиенты:</div>
        
    </div>
    <div>Осталось: {{dish.quantity}} штук</div>
    <div>Цена: {{dish.price}} рублей</div>
    <div class="d-flex">
        <div>
            <div>Кол-во:</div>
            <input type="number" id="quantity" name="quantity"/>
        </div>
        <button type="button" class="btn btn-primary">Заказать</button>
    </div>
</div>
{% endblock %}