{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column">
    <h1>{{dish.name}}</h1>
    <img src="/static/img/{{dish.image}}" class="img-thumbnail" style='max-width:20em; max-height:40em; width: auto; height: auto;' alt="Фото {{dish.image}}">
    <div>Ингредиенты: {{ ingridients }}</div>
    <div>Осталось: {{dish.quantity}} штук</div>
    <div>Цена: {{dish.price}} рублей</div>
    <form method="POST" action="/dish/{{ dish.id }}/rate">
        <label for="rating">
            Оцените блюдо:
            <input type="number" id="rating" name="rating" min="1", max="5"/>
            <button type="button" class="btn btn-primary">Оценить</button>
        </label>
    </form>
    <form method="POST" action="/dish/{{ dish.id }}/buy" class="mt-5">
        <label for="quantity">
            Кол-во
            <input type="number" id="quantity" name="quantity" min="1"/>
            <button type="submit" class="btn btn-primary">Заказать</button>
        </label>
    </form>
    </div>
</div>
{% endblock %}