{% extends "base.html" %}

{% block content %}
<table class="table">
  <thead>
    <tr>
        <th scope="col">ФИО ученика</th>
        <th scope="col">Блюдо</th>
        <th scope="col">Количество</th>
        <th scope="col">Действия</th>
    </tr>
  </thead>
    <tbody>
        {% for request in requests %}
        <tr>
            <td>{{request | get_NSP}}</td>
            <td>{{request | get_dish}}</td>
            <td>{{request.quantity}}</td>
            <td><div class="d-flex">
                <form method="POST" action="/distribution/{{ request.id }}/exec">
                  <button type="submit" class="btn btn-success">Принять</button>
                </form>
                <form method="POST" action="/distribution/{{ request.id }}/del">
                  <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </div></td>
        </tr>
        {% endfor %}
  </tbody>
</table>
{% endblock %}