{% extends "base.html" %}

<!-- Главная страница -->
{% block content %}
{% if current_user.is_authenticated %}
<section class="bg-light py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-4 gy-lg-0">
      <div class="col-12 col-lg-4 col-xl-3">
        <div class="row gy-4">
          <div class="col-12">
            <div class="card widget-card border-light shadow-sm">
              <div class="card-body">
                <h5 class="text-center mb-1">{{ current_user.name }} {{ current_user.surname }}</h5>
                <p class="text-center text-secondary mb-4">{{ current_user | get_role | title }}</p>
                {% if current_user | get_role == "ученик" %}
                <ul class="list-group list-group-flush mb-4">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h6 class="m-0">Баланс</h6>
                    <span>{{ current_user.money }} ₽</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h6 class="m-0">Конец абонемента</h6>
                    <span>
                      {% if current_user.subscription_end == None %}
                      -
                      {% else %}
                      {{ current_user.subscription_end.strftime('%m/%d/%Y %I:%M') }}
                      {% endif %}
                    </span>
                  </li>
                </ul>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8 col-xl-9">
        <div class="card widget-card border-light shadow-sm">
          <div class="card-body p-4">
            <ul class="nav nav-tabs" id="profileTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Профиль</button>
              </li>
              {% if current_user | get_role == "ученик" %}
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="payment-tab" data-bs-toggle="tab" data-bs-target="#payment-tab-pane" type="button" role="tab" aria-controls="payment-tab-pane" aria-selected="false">Оплата</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="payment-tab" data-bs-toggle="tab" data-bs-target="#preference-tab-pane" type="button" role="tab" aria-controls="preference-tab-pane" aria-selected="false">Предпочтения</button>
              </li>
              {% endif %}
              {% if current_user | get_role != "администратор" %}
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history-tab-pane" type="button" role="tab" aria-controls="history-tab-pane" aria-selected="false">История</button>
              </li>
              {% endif %}
            </ul>
            <div class="tab-content pt-4" id="profileTabContent">
                <div class="tab-pane fade show active" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                    <h5 class="mb-3">Профиль</h5>
                    <div class="row g-0">
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                        <div class="p-2">Имя</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                        <div class="p-2">{{ current_user.name }}</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                        <div class="p-2">Фамилия</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                        <div class="p-2">{{ current_user.surname }}</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                        <div class="p-2">Отчество</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                        <div class="p-2">{{ current_user.patronymic }}</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                        <div class="p-2">Почта</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                        <div class="p-2">{{ current_user.email }}</div>
                    </div>
                    </div>
                </div>
                {% if current_user | get_role == "ученик" %}
                <div class="tab-pane fade" id="payment-tab-pane" role="tabpanel" aria-labelledby="payment-tab" tabindex="0">
                    <div class="d-flex flex-column">
                      <form method="POST" action="/payment/money" class="d-flex justify-content-evenly align-items-center py-2 border rounded">
                        <h4>Разовый платёж</h4>
                        <div class="d-flex flex-column justify-content-evenly">
                          <div>Кол-во рублей</div>
                          <div class="input-group">
                            <input type="number" name="money" class="form-control" min="0" placeholder="0" aria-label="0">
                            <span class="input-group-text">₽</span>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-dark">Оплатить</button>
                      </form>
                      <div class="d-flex justify-content-evenly align-items-center py-2 border rounded">
                        <script>
                            function updatePrice(input){
                              var elementValue = input.value;
                              if (input.value == "") {
                                document.getElementById("updatedLabel").innerHTML = "0 ₽";
                              } else {
                                document.getElementById("updatedLabel").innerHTML = (elementValue * 3000) + " ₽";
                              }
                            }
                        </script>
                        <h4>Абонемент</h4>
                        <div class="d-flex">
                          <div>К оплате: </div>
                          <div id="updatedLabel">0 ₽</div>
                        </div>
                        <form method="POST" action="/payment/subscription" class="d-flex justify-content-evenly">
                          <div class="d-flex flex-column justify-content-evenly me-2">
                            <div>Кол-во месяцев</div>
                            <input type="number" name="months" class="form-control" onkeyup = updatePrice(this) placeholder="0" min="0" aria-label="0">
                          </div>
                          <button type="submit" class="btn btn-dark align-self-center">Оплатить</button>
                        </form>
                      </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="preference-tab-pane" role="tabpanel" aria-labelledby="preference-tab" tabindex="0">
                  <div>
                    <form method="POST" action="/prefs/add" class="d-flex flex-column align-items-start">
                      <select name="ingridients">
                        {% for ingridient in ingridients %}
                        <option value="{{ingridient.name}}">{{ingridient.name}}</option>
                        {% endfor %}
                      </select>
                      <label for="is_liked">
                        <input type="checkbox" id="is_liked" name="is_liked" switch />
                        Неотмечено - аллерген, отмечено - любимый ингредиент
                      </label>
                      <button type="submit" class="btn btn-primary">Добавить</button>
                    </form>
                    <table class="table">
                      <thead>
                        <tr>
                            <th scope="col">Ингридиент</th>
                            <th scope="col">Тип</th>
                            <th scope="col">Действия</th>
                        </tr>
                      </thead>
                        <tbody>
                            {% for log in logs %}
                            <tr>
                                <td>{{log | get_name}}</td>
                                {% if log.is_liked %}
                                <td>Предпочтение</td>
                                {% else %}
                                <td>Аллерген</td>
                                {% endif %}
                                <td>
                                  <form method="POST" action="/prefs/{{log.id}}/del">
                                    <button type="submit" class="btn btn-danger">Удалить</button>
                                  </form>
                                </td>
                            </tr>
                            {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                {% endif %}
                {% if current_user | get_role != "администратор" %}
                <div class="tab-pane fade" id="history-tab-pane" role="tabpanel" aria-labelledby="history-tab" tabindex="0">
                    <table class="table">
                      <thead>
                        <tr>
                            <th scope="col">Блюдо</th>
                            {% if current_user | get_role == "ученик" %}
                            <th scope="col">Цена (руб.)</th>
                            {% endif %}
                            <th scope="col">Количество</th>
                            <th scope="col">Состояние</th>
                            <th scope="col">Действия</th>
                        </tr>
                      </thead>
                        <tbody>
                            {% for request in requests %}
                            <tr>
                                <td>{{request | get_dish}}</td>
                                {% if current_user | get_role == "ученик" %}
                                <td>{{request | get_price}}</td>
                                {% endif %}
                                <td>{{request.quantity}}</td>
                                {% if request.is_accepted %}
                                <td>Заявка принята</td>
                                {% else %}
                                <td>Заявка не принята</td>
                                {% endif %}
                                <td>
                                  {% if not request.is_accepted %}
                                  {% if current_user | get_role == "ученик" %}
                                  <form method="POST" action="/distribution/{{ request.id }}/del">
                                    <button type="submit" class="btn btn-danger">Удалить</button>
                                  </form>
                                  {% elif current_user | get_role == "повар" %}
                                  <form method="POST" action="/procurement/{{ request.id }}/del">
                                    <button type="submit" class="btn btn-danger">Удалить</button>
                                  </form>
                                  {% endif %}
                                  {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                      </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
<h3>Пожалуйста, войдите или зарегистрируетесь!</h3>
{% endif %}
{% endblock %}