{% extends "base.html" %}

{% block content %} 
<div class="d-flex flex-column align-items-center">
    <h1>Статистика</h1>
    <div class="d-flex justify-content-between align-items-center align-self-stretch">
        <div>
            <button type="button" class="btn btn-primary" onclick="location.href='/statistics/times'">Кол-во покупок</button>
            <button type="button" class="btn btn-primary" onclick="location.href='/statistics/rate'">Средняя оценка</button>
        </div>
        <form method="POST" action="/statistics/export">
            <button type="submit" class="btn btn-primary">Сформировать отчёт как файл...</button>
        </form>
    </div>
    {{ div|safe }}
    {{ script|safe }}
</div>
{% endblock %}